<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Read TheTechBiscuit, a blog by Zack Baxter.">
    <meta name="keywords" content="TechBiscuit, blog, personal website">
    <meta name="author" content="Zack Baxter">
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#e69e56">
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="TechBiscuit by Zack Baxter">
    <meta property="og:description" content="TheTechBiscuit is a personal website by Zack Baxter.">
    <meta property="og:image" content="/images/social-preview.jpg">
    <meta property="og:url" content="https://www.thetechbiscuit.com/">
    <meta property="og:type" content="website">
    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="TechBiscuit by Zack Baxter">
    <meta name="twitter:description" content="TheTechBiscuit is a personal website by Zack Baxter.">
    <meta name="twitter:site" content="@onlytechbiscuit">
    <title>Homepage | TechBiscuit</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
</head>