{{ define "main" }}
<div id="favorites">
    <h2>My Favorite Poems</h2>

    <div class="poem-grid">
        {{ range .Pages }}
        <div class="poem-card">
            <h3 class="poem-title">{{ .Title }}</h3>
            <p class="poem-author">by {{ .Params.author }}</p>
            <div class="poem-text">
                {{ range .Params.lines }}
                <span class="poem-line">{{ . }}</span>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
